server:
  port: 8080

spring:
  security:
    oauth2:
      client:
        provider:
          keycloak:
            issuer-uri: http://localhost:8081/realms/getInsured
            # Spring will discover auth/token/jwks endpoints from the issuer
        registration:
          keycloak:
            provider: keycloak
            client-id: spring-welcome
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope:
              - openid
              - profile
